body{
    background-image: url(https://i.pinimg.com/736x/a9/9e/4c/a99e4c9698d5eafc57deff46d045f548.jpg);
    background-color: rgb(196, 233, 255);
    margin: 0px;
}

nav{
    background-color: black;
    padding: 15px;
}

    #NavAncho{
        display: flex;
        justify-content: space-between;

        a{
            text-decoration: none;
            color: white;
        }
    }

header{
    background-image: url(https://i.pinimg.com/1200x/5b/78/70/5b78701ccc575954aa74de70b4b868c9.jpg);
    color: white;
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura visible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra contenido verticalmente */
    align-items: center;     /* Centra contenido horizontalmente */
    background-repeat: no-repeat;  /* Evita que se repita */
    background-position: center; /* Centra la imagen */
    background-size: cover;

    h1{
        font-family: "Holtwood One SC", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 700%;
        text-align: center;
        margin: 1%;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    h3{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 140%;
        margin: 1%;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
}

#CuerpoPrincipal{
    display: flex;

    main{
        width: 80%;
    }

    aside{
        width: 20%;
    }

    h3{
        font-family: "Lilita One", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    h2{
             font-family: "Holtwood One SC", serif;
        font-weight: 400;
        font-style: normal;   
    }

    h1{
        font-family: "Holtwood One SC", serif;
        font-weight: 400;
        font-style: normal;
    }

    p{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 15px;
    }
}

main{
    margin: 40px;
    text-align: justify;
}

aside{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ConocéMás{
    font-size: 150%;
}

/*Acá empieza lo de los personajes*/
.CajaPersonajes{

    a{
        text-decoration: none;
        color: black;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        justify-content: center;
    }

    .aVerMásPersonajes{
        text-align: right;
    }
}

.ImagenPersonajes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1%;
}

.ImgPersonajesDesaparecer{
    display: none;
}

.TítulosPersonajes{
    margin-bottom: -12px;
    padding: 20px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 10px;
    background-color: rgb(198, 213, 255);
}

.InfoCajaPersonajes{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-width: 1px;
    border-style:solid;
    border-radius: 10px;
    background-color: rgb(198, 213, 255);
}

/*Acá va lo del slider de Series*/

.SliderWrapper{
    position: relative;
    margin: 0 auto;
    width: 70%;
}

.Slider{
    display: flex;
    aspect-ratio: 16/9 ;
    overflow-x: hidden; /*Esconde las weas*/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem 0.5rem #21212126;
    border-radius: 5px;
}

.Slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.SliderNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.SliderNav a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
    opacity: .75;
    transition: opacity ease 250ms;
}

.SliderNav a:hover{
    opacity: 100%;
}

footer{
    background-color: rgb(152, 169, 218);
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
        color: rgb(0, 0, 0);
        font-family: "Holtwood One SC", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 300%;
        text-align: right;
        margin: 1%;
    }
}

/*Acá empieza los media query*/

@media (width<450px){
        .ImagenPersonajes{
        transform: scale(1);
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    .ImagenPersonajes{
        transform: scale(0.70);
    }

    .ImgPersonajesDesaparecer{
    display: none;
    }

}

@media (width<500px){
    #imgFooter{
        display: none;
    }
}

@media (width<630px){
    header{
        h1{
            font-size: 450%;
        }

        h3{
            font-size: 100%;
        }
    }
}

@media (width<700px){

    footer h1{
        font-size: 180%;
    }

}

@media (width<750px){
    aside{
        display: none;
    }

    /*Personajes*/

    .InfoCajaPersonajes{
        flex-wrap: wrap;
    }

}
  /*Esto es para las Imáges extras del coso de Personajes*/
@media (min-width: 450px) and (max-width: 750px){
    .ImgPersonajesDesaparecer{
    display: block;
    }

    .SliderWrapper{
        width: 100%;
    }

}

@media (width<400px){
    header{
        h1{
            font-size: 380%;
        }

        h3{
            font-size: 100%;
        }
    }
}