body{
    background-color: rgb(196, 233, 255);
    margin: 0px;
}

header{
    background-image: url(https://i.pinimg.com/1200x/5b/78/70/5b78701ccc575954aa74de70b4b868c9.jpg);
    color: white;
    width: 100%;
    height: 100vh; /* Ocupa el 100% de la altura visible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra contenido verticalmente */
    align-items: center;     /* Centra contenido horizontalmente */
    background-repeat: no-repeat;  /* Evita que se repita */
    background-position: center; /* Centra la imagen */
    background-size: cover;

    h1{
        font-family: "Holtwood One SC", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 700%;
        text-align: center;
        margin: 1%;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    h3{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 140%;
        margin: 1%;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
}
#CuerpoPrincipal{
    display: flex;

    main{
        width: 80%;
    }

    aside{
        width: 20%;
    }
}

main{
    margin: 40px;
    text-align: justify;
}

/*Acá empieza lo de los personajes*/

.TítulosPersonajes{
    margin-bottom: -12px;
    padding: 20px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 10px;
    background-color: rgb(191, 255, 196);
}

.InfoCajaPersonajes{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-width: 1px;
    border-style:solid;
    border-radius: 10px;
    background-color: rgb(191, 255, 196);
}

@media (width<630px){
    header{
        h1{
            font-size: 450%;
        }

        h3{
            font-size: 100%;
        }
    }
}

@media (width<750px){
    aside{
        display: none;
    }

    .InfoCajaPersonajes{
        flex-wrap: wrap;
    }
}


@media (width<400px){
    header{
        h1{
            font-size: 380%;
        }

        h3{
            font-size: 100%;
        }
    }
}